/* css styles */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;1,300;1,400&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* :root {
    --bs-font-serif: 'IBM Plex Serif', serif;
    --bs-font-monospace: 'IBM Plex Mono', monospace;
    --bs-body-font-family: var(--bs-font-serif);
    --bs-headings-font-family: var(--bs-font-serif);
    --bs-code-font-family: var(--bs-font-monospace);
    --bs-navbar-font-family: var(--bs-font-monospace);
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
  } */

.navbar-title {
  text-transform: uppercase;
  font-family: "IBM Plex Mono";
}

.aa-DetachedFormContainer {
  border: none;
}

/* ================ UTILITY CLASSES ============= */
.text-center { text-align: center }

.hero-ml {
  position: relative;
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
}

.hero-ml::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  background: url(../images/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(30%);
}

.hero {
  position: relative;
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  background: url(../images/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(30%);
}
.hero-content {
  position: relative;
  color: white;
  text-align: left;
  margin: 0.625rem;
}
.hero-title {
  font-size: 7rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-left: -110px;
}

.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
  margin-left: 110px;
}
.hero-button {
  color: white;
  background-color: #674e4e;
  border: 2px solid #ff5e62;
  padding: 1rem;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
}
.hero-button:hover {
  border: 2px solid #ff7e5e;
}

a {
  text-decoration: none;
}

@media (max-width: 400px) {
  /* CSS rules for screens smaller than 600px */
  .hero-title {
    font-size: 2em;
    margin-left: -30px;
  }
  .hero-subtitle{
    font-size: 0.7em;
  }
}


@media (min-width: 401px) and (max-width: 600px) {
  /* CSS rules for screens smaller than 600px */
  .hero-title {
    font-size: 3.5em;
    margin-left: -30px;
  }
  .hero-subtitle{
    font-size: 1em;
  }
}

/* Styles for screens between 601px and 1024px */
@media (min-width: 601px) and (max-width: 1200px) {
  /* CSS rules for screens between 601px and 1024px */
  .hero-title  {
    font-size: 4em;
  }
  .hero-subtitle{
    font-size: 2em;
  }
}